body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(227, 230, 230);
}
#logo {
    background-color: rgb(34, 47, 63);
    padding: 1%;
    text-align: left;
}
#logoAmazon {width: 8%;}
ul {
    list-style-type: none;
    text-align: left;
    padding: 1%;
    background-color: rgb(54, 71, 88);
    margin: 0;
}
li {
    display:inline;
    color: white;
}
#barraNavigatrice {
    margin: 0;
}
#boxArancione {
    color: white;
    font-size: 0.8em;
    background-color: rgb(246, 100, 0);
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 0.01%;
}
#holiday {
    background-image: url(../assets/bg-image.png);
    background-size: cover;
    color: white;
    padding: 1.5%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
#h3_1 {
    padding-top: 1.5%;
    margin-left: 1.5%;
    margin-top: 0.1%;
    text-align: left;
    font-size: x-large;
}

.testoAzzurro {
    font-size: large;
    color: rgb(18, 101, 107);
}
#box {
    margin-top: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: white;
    padding-bottom: 1%;
}
.gift {
    display: inline-block;
    object-fit: cover;
    width: 23em;
    height: 30em;
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #dedede;
}
.banner {
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 97%;
}
h3 {
    margin-top: -0.1%;
    font-size: x-large;
}
#backToTop {
    padding: 1%;
    background-color: rgb(54, 71, 88);
}
#link {
    color: white;
    padding: 1%;
    background-color: rgb(54, 71, 88);
}
#bottom {
    background-color: rgb(34, 47, 63);
    padding: 4%;
}
#logoBottom {width: 12%;}