body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.65em;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
}

h1 h2 {
    font-family: 'Montserrat', sans-serif;
}

#background-logo {
    padding: 3%;
    background-color: black;
}
#logo {
    margin-right: 90%;
    width: 15%;
    height: 15%;
}

#container1 {
    padding: 5% 5% 5% 5%;
    background-image: url(./../images/banner.jpg);
    background-size: cover;
}

#titolo1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #25a2c3;
}
#bottone {
    padding: 10px 30px;
    background-color: #f04c2f;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    text-decoration: none;
}
#bottone:hover {
    opacity: 0.8;
}
#blocco-centrale {
    margin: 0 auto;
}
#testocentrale {
    text-align: left;
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#testocentrale p {
    margin: 0;
}
.titolo2 {
    color: #25a2c3;
}
#divlaptop {
    display: inline-block;
}
#divlaptop img {
    border-radius: 50%;
    padding-left: 10%;
}
#arancione {
    background-color: #e22d0e;
    color: white;
    padding: 7%;
}
#titolo-arancione {
    font-family: 'Montserrat', sans-serif;
}
#mario {
    font-family: 'Open Sans', sans-serif;
}
#ceo {
    font-family: 'Open Sans', sans-serif;
    line-height: 0em;
    font-size: small;
}
#contenitore {
    margin: 0 auto; 
    display: inline-block;
    width: 100%;
}
.container3 {
    margin-top: 7rem;
    display: inline-block;
    border: 1px solid #dee1e3;
    border-radius: 1%;
    width: 30%;
}
.container3 img {
    height: 290px;
    width: 100%;
}
.container3:nth-child(2) {
    margin: auto 1rem;
}

footer {
    color: white;
    background-color: #25a2c3;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15%;
}
#titolo-footer {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    margin-bottom: -3%;
    padding: 7%;
    background-color: #25a2c3;
    color: white;
}
.contatti {
    color: white;
    font-size: medium;
    line-height: 0;
}
hr {
    width: 60%;
    color: white;
}
#copyright {
    font-size: small;
    padding-bottom: 15%;
}
#pixabay {
    color: white;
}