body {
    color: white;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(14, 107, 255);
}
img {
    width: 30%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black
}
#div1 {
    margin-left: 25%;
}
#output {
    margin-left: 25%;
}
#output2 {
    margin-left: 25%;
}