.bg-purple {
  background-color: #7550fe;
}

body {
  font-family: "Inter", sans-serif;
}

.bg-giallino {
  background-color: #ffeeda;
}

p {
  margin: 0;
}

.text-purple {
  color: #7550fe;
}

.text-xs {
  font-size: 0.8rem;
}

.freccia-sinistra {
  position: absolute;
  top: 50%;
  right: 48%;
  color: grey;
  opacity: 0.5;
}

.freccia-destra {
  position: absolute;
  top: 50%;
  left: 48%;
  color: grey;
  opacity: 0.5;
}

@media (min-width: 1366px) {
  .freccia-destra {
    left: 52%;
    opacity: 1;
  }
  .freccia-sinistra {
    right: 52%;
    opacity: 1;
  }
  .media-query {
    display: flex;
    justify-content: center;
  }
  .media-query-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .media-query-1 h1 {
    font-size: 3.4rem;
  }
  .media-query-1 p {
    font-size: 1.6rem;
  }
  .media-query-2 {
    width: 40% !important;
    margin: auto;
  }
  .media-query-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .media-query-3 div {
    margin-top: 0.9rem;
  }
  .media-query-4 {
    width: 80%;
    margin: auto;
  }
  .footer {
    width: 80% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer div {
    width: 30%;
  }
}
